@charset "UTF-8";

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  
  background-image: url('back3.jpg');
  background-position: center top;
  background-size: cover;
  margin: 0;
margin-left: 50px; 
margin-right: 50px;

}


@font-face {
   font-family: myFirstFont;
   src: url(ReginaBlack-Hilite.otf);
}

div {
   font-family: myFirstFont;
}

nav {
  background-color: #d6c671;
  padding: 20px;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 30px;
}

nav ul {
  display: inline;
}

.logo {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.logo-item {
  margin: 20px;
}

.logo-item .thumbnaill {
  border: 5px;
}

.page-description {
  border: 1px ;
  margin: 2px;
  
  padding: 0px;
  font-size: 200%;
}

.main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.main-item {
  margin: 20px;
}

.plus {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

.plus-item {
  margin: 0px;
}

.main-item .thumbnail {
  border: 5px;
}

