@charset "UTF-8";

html, body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  line-height: 1.5;
}

body {
  
  background-image: url('back3.jpg');
  background-position: center top;
  background-size: cover;
  padding-left: 50px;
  padding-right: 50px;

  
}


@font-face {
   font-family: myFirstFont;
   src: url(ReginaBlack-Hilite.otf);
}

div {
   font-family: myFirstFont;
}

nav {
  background-color: #d6c671;
  padding: 20px;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 30px;
}

nav ul {
  display: inline;
}

.logo {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.logo-item {
  margin: 20px;
}

.logo-item .thumbnaill {
  border: 5px;
}

.page-description {
  border: 1px ;
  margin: 2px;
  
  padding: 0px;
  font-size: 200%;
}

.main {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.main-item {
  margin: 20px;
}

.plus {
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}

.plus-item {
  margin: 0px;
}

.main-item .thumbnail {
  border: 5px;
}



.dropbtn {
    background-color: #d6c671;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	border:20px;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #d6c671;
}
#myInput {
    border-box: box-sizing;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd}

.show {display:block;}



form, p, span {
    margin:0;
    padding:0; }
  
input { font:12px arial; }
  
a {
    color:#d5c570;
    text-decoration:none; }
  
    a:hover { text-decoration:underline; }
  
#wrapper, #loginform {
    margin-top:20px;
	margin-left:10px;
	padding-top: 50px;
    padding-bottom:25px;
    background:#d5c570;
    width:241px;
	height:350px;
	border: 0px solid #462f25;
    }
  
#loginform { padding-top:18px; }
  
    #loginform p { margin: 5px; }
  
#chatbox {
    text-align:left;
    margin:0 auto;
    margin-bottom:25px;
    padding:5px;
    background:#fff;
    height:170px;
    width:230px;
    border:1px solid #d5c570;
    overflow:auto; }
  
#usermsg {
    width:200px;
    border:5px solid #d5c570; }
  
#submit { width: 60px; }
  
.error { color: #ff0000; }
  
#menu { padding:12.5px 25px 12.5px 25px; }
  
.welcome { float:left; }
  
.logout { float:right; }
  
.msgln { margin:0 0 2px 0; }